<div>
    <h2>Sube tu nueva obra a tu galería</h2>
    <form action="">
        <p>Selecciona la obra a subir <input type="file" name="" id="" class="file"></p>
        <input type="text" placeholder="Nombre de la obra"><br>
        <input type="number" name="" id="" placeholder="Precio de la obra"><br>
        <select name="" id="">
            <option value="">Elige la categoría de tu obra</option>
        </select><br>
        <input type="text" placeholder="Añadir categoría"><br><button class="addClass">Añadir categoría</button><br>
        <button class="subirObra">Subir obra</button>
    </form>
</div>
