 .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
button{
    background-color: black;
    color:#efc75e;
    font-weight: bolder;
    border: black 1px;
    padding: 0.5em;
    font-size: 1.2em;
    border-radius: 0.3em;
    margin-top: 0.5em;
}
button:hover{
    background-color: #252525;
    box-shadow: #efc75e 4px 4px 4px;
}

ul{
    text-align: center;
    width: 100%;
    background-color: #252525;
    padding-left: 4em;
    padding-top: 2em;
}
li{
    color: #ffffff;
    font-weight: 700;
    list-style: none;
    margin-bottom: 1em;
}