<mat-accordion multi="true" *ngIf="posts.length > 0">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header class="title">
      {{post.title}}
    </mat-expansion-panel-header>
    <p class="content">{{post.content}}</p>
    <mat-action-row>
      <p class="date">{{post.dateTime | date: 'EEEE d - MMM - y'}}</p>
      <button mat-button color="primary" id="edit"><mat-icon>edit</mat-icon>Editar Post</button>
      <button mat-button color="warn" id="delete"><mat-icon>delete</mat-icon>Eliminar Post</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<h4 *ngIf="posts.length <= 0">No hay posts publicados</h4>
