
<div>
  <h2>Tarea</h2>
  <form (ngSubmit)="agregarTarea"()>
    <input type="text" placeholder="Nombre de usuario" formControlName="user"><br>
    <input type="text" placeholder="Id Tarea" formControlName="idTarea"><br>
    <textarea name="descripcion" id="" cols="30" rows="10" formControlName="descripcion" placeholder="Describe la tarea a realizar"></textarea><br>
    <input type="number" placeholder="Puntuación de la tarea" formControlName="puntuacion"><br>
    <input type="text" placeholder="Escribe el estado de la tarea" formControlName="estado"><br>
    <input class="boton" type="submit" value="Enviar">
  </form>
</div>
