<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-body text-center">
          <span class="titulo">Listado de posts</span>
          <button class="btn btn-success float-end" routerLink="/crear-post">Nuevo</button>
          <table class="table table-striped mt-3">
            <thead>
              <tr>
                <th scope="col">Título</th>
                <th scope="col">Contenido</th>
                <th scope="col">Fecha</th>
                <th scope="col">Usuario</th>
                <th scope="col">Imagen</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>TT en España</td>
                <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla eaque ipsa placeat sit accusamus omnis veniam sed tenetur? Iusto consectetur reiciendis eos, dolores recusandae deserunt libero soluta delectus omnis deleniti.</td>
                <td>18/10/2023</td>
                <td>Mark Owen</td>
                <td>esto es una foto</td>
                <td>
                  <i class="fa fa-pencil text-success" aria-hidden="true"></i>
                  <i class="fa fa-trash text-danger" aria-hidden="true"></i>
                </td>
              </tr>
              <tr>
                <td>TT en España</td>
                <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla eaque ipsa placeat sit accusamus omnis veniam sed tenetur? Iusto consectetur reiciendis eos, dolores recusandae deserunt libero soluta delectus omnis deleniti.</td>
                <td>18/10/2023</td>
                <td>Mark Owen</td>
                <td>esto es una foto</td>
                <td>
                  <i class="fa fa-pencil text-success" aria-hidden="true"></i>
                  <i class="fa fa-trash text-danger" aria-hidden="true"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

empezar video por el backend <a href="https://www.youtube.com/watch?v=aLbDBaFYoLY&ab_channel=TomasRuizDiaz" target="_blank">seguir video</a>
