<div class="consultas">
    <!-- Para crear consultas en los otros componentes -->
    <h2>Haznos llegar tus dudas, quejas o sugerencias</h2>
    <input type="text" name="" id="" placeholder="Nombre y apellidos"><br>
    <div class="invalid-feedback">
        <div class="mensaje">Por favor, ingresa tu nombre y apellidos</div>
    </div>
    <input type="text" placeholder="E-Mail"><br>
    <div class="invalid-feedback">
        <div class="mensaje">Introduce un e-mail</div>
        <div class="mensaje">Introduce un formato correcto de e-mail</div>
    </div>
    <input type="text" placeholder="Asunto"><br>
    <div class="invalid-feedback">
        <div class="mensaje">Has de poner un asunto</div>
    </div>
    <textarea name="" id="" cols="30" rows="10" placeholder="Introduce tu mensaje"></textarea><br>
    <div class="invalid-feedback">
        <div class="mensaje">Has de introducir algún mensaje</div>
    </div>
    <button>Enviar</button>
    <ng-template>
        <h3 class="mensajeEnviado">Mensaje enviado, gracias por ponerte en contacto con nosotros</h3>
    </ng-template>
    
    
</div>
