.datos_Alumno{
    font-size: 1.2em;
    text-align: center;
}
.datos_Alumno h2{
    color: #0D3F7D;
    text-decoration: underline;
}

.datos_Alumno ul{
    list-style: none;
}

img{
    width: 15%;
}