<div class="listado_Alumnos">
    <h2>Listado de alumnos</h2>
    <div class="listado">
        <div class="alumno">
            <div class="titulo">
                <h3>Nombre alumno</h3>
            </div>
            <div class="contenidoTabla" >
                <p *ngFor="let listado of alumnosall">{{listado.nombreA}}  {{listado.apellidosA}}</p>
            </div>
        </div>
        <div class="cursos">
            <div class="titulo">
                <h3>Matriculado</h3>
            </div>
            <div class="contenidoTabla">
                <p *ngFor="let listado of alumnosall">{{listado.estadoA}}</p>
            </div>
        </div>
    </div>
</div>
