<div>
    <h2>Contacta con nosotros</h2>
    <form class="example-form">
        <mat-form-field class="example-full-width">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Introduce tu nombre">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
        <mat-label>E-mail</mat-label>
        <input type="email" matInput placeholder="Introduce tu e-mail">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
        <mat-label>Comentario</mat-label>
        <textarea matInput placeholder="Introduce tu comentario."></textarea>
        </mat-form-field>
        <br>
        <button>Enviar</button>
        <button>Borrar</button>
    </form>
</div>
  



