<app-header></app-header>
<h2>Contacta con nostros</h2>
<div class="contacto">
  <div class="imagen">
    <img src="../../../assets/media/contacto2.png" alt="">
  </div>
  <div class="formulario">
    <form action="">
      <input type="text" placeholder="Nombre"><br>
      <input type="text" placeholder="E-mail"><br>
      <textarea name="" id="" cols="30" rows="10" placeholder="Mensaje"></textarea><br>
      <button type="submit">Enviar</button>
    </form>
  </div>
</div>
<app-footer></app-footer>
