<div class="tabla">
    <div class="card">
        <h2>La joven de la perla</h2>
        <div class="bodyCard">
            <div class="obra">
                <img src="../../assets/media/perla.jpg" alt="La joven de la perla">
            </div>
            <div class="resumen">
                <p>Obra de Johannes Vermeer donde Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla repellendus quisquam laboriosam quidem neque possimus ab voluptates id commodi libero nesciunt accusamus, repellat excepturi? Reprehenderit expedita ullam nulla non eaque!</p>
                <button routerLink="/ilustracion">Ver obra</button>
            </div>
        </div>
    </div>
    <div class="card">
        
    </div>
    <div class="card">
        
    </div>
</div>
