<div>
  <p>Sube tu archivo a través de la interfaz de usuario de archivos</p>
  <h3>Subir imagen</h3>
      <input class="input-file" (change)="capturarFile($event)" type="file">
        
      <div class="wrapper-button" >
          <button type="button" class="button" [disabled]="loading" (click)="subirArchivo()">
              {{(loading) ? 'Cargando.....' : 'Subir Archivo'}}
          </button>
      </div>
</div>


<!-- <input type="file" (change)="getFile($event)"> -->
<!-- <br/> -->
<!-- <button (click)="sendFile()">Enviar</button> -->