<mat-card>
  <form (submit)="onPastAdded(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input type="text" name="title" 
        matInput 
        ngModel 
        placeholder="Título del post"
        #title="ngModel"
        required
      >
    </mat-form-field>
    <mat-form-field>
      <textarea name="content" id="" cols="30" rows="10" 
        matInput 
        ngModel 
        placeholder="Introduce contenido del post"
        #content="ngModel"
        required
      ></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit"><mat-icon>save_as</mat-icon>Guardar Post</button>
  </form>
</mat-card>
<app-post-list></app-post-list>

