<header>
    <div class="img">
        <img src="../../assets/media/logoOscuroMini.png" alt="Logotipo academia">
    </div>
    <nav>
        <ul>
            <li><a routerLink="">Inicio</a></li>
            <li><a routerLink="/cursos">Cursos</a></li>
            <li><a routerLink="/curso">Curso</a></li>
            <li><a routerLink="/crearCurso">Crear curso</a></li>
            <li><a routerLink="/profesores">Profesores</a></li>
            <li><a routerLink="/profesor">Profesor</a></li>
            <li><a routerLink="/alumnos">Alumnos</a></li>
            <li><a routerLink="/alumno">Alumno</a></li>
            <li><a routerLink="/consulta">Consulta</a></li>
            <li><a routerLink="/acceso">Acceso</a></li>
        </ul>
    </nav>
    <div class="acceso">
        <app-acceso></app-acceso>
    </div>
</header>
