<div class="curso">
    <!-- Se mostrarán todos los datos de cada curso -->
    <h2>JavaScript desde cero</h2>
    <img src="{{imagen+3}}" alt="Imagen de muestra">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum, officia cumque expedita sint voluptas voluptates. Tempora inventore reprehenderit id rem minima. Magnam neque a quae animi vero minima error doloribus!
    Fuga, inventore? Aperiam, eaque aspernatur. Voluptates id blanditiis ducimus deserunt, harum repellendus ex consequatur quas similique perferendis eius explicabo iste impedit maiores voluptatem quae aliquid repudiandae officia voluptatum molestias! Esse.</p>
    
    <ul>
        <h4>Temas del curso</h4>
        <li>¿Qué es JavaScript</li>
        <li>Sintaxis</li>
        <li>Operadores</li>
        <li>Condicionales y bucles</li>
        <li>Funciones</li>
        <li>Colección de datos</li>
    </ul>

</div>