<div>
    <h2>Regístrate</h2>
    <form action="">
       <input class="input" type="text" placeholder="Nombre y apellidos"><br>
       <input class="input" type="text" placeholder="Usuario"><br>
       <input class="input" type="text" placeholder="DNI"><br>
       <input class="input" type="text" placeholder="E-mail"><br>
       <input class="input" type="password" placeholder="Contraseña"><br>
       <input class="input" type="password" placeholder="Repetir contraseña"><br>
       <input class="input" type="text" placeholder="Dirección"><br>
       <input class="input" type="text" placeholder="Código postal"><br>
       <input class="input" type="text" placeholder="Provincia"><br>
       <input class="input" type="text" placeholder="País"><br>
       <p>Selecciona si eres artista o usuario</p>
       Artista: <input type="checkbox" class="checkbox"> 
       Usuario: <input type="checkbox" class="checkbox">
       <p><span>Aviso:</span> Si te registras como artista nos pondremos en contacto contigo antes de registrar tu usuario</p>
       <button class="registro">Registrarse</button>
    </form>
    <p>Si estás registrado inicia sesión en tu cuenta <button routerLink="/sesion" class="iniciar">Iniciar sesión</button></p>
</div>
