<div>
    <h2>Inicia sesión</h2>
    <form action="">
        <mat-form-field class="example-full-width">
            <mat-label>E-mail</mat-label>
            <input matInput placeholder="Introduce tu e-mail">
        </mat-form-field>
        <br>

        <mat-form-field class="example-full-width">
            <mat-label>Contraseña</mat-label>
            <input type="password" matInput placeholder="Introduce tu contraseña">
        </mat-form-field>
        <br>

        <button>Enviar</button>
        <button>Borrar</button>
    </form>

    <p>Si ya tiene una cuenta inicia sesión <a routerLink="/registro">aquí</a> </p>
</div>
