<header>
    <div class="logo">
        <img src="./assets/media/logo-mini.png" alt="">
    </div>
    <nav>
        <button routerLink="/galeria">Galería</button>
        <button routerLink="/foro">Foro</button>
        <button routerLink="/ilustraciones">Ilustraciones</button>
        <button routerLink="/ilustradores">Ilustradores</button>
        <button routerLink="/carrito">Carrito</button>
        <button routerLink="/contacto">Contacto</button>
        <button routerLink="/listaServicios">Servicios</button>
        <button routerLink="/registro">Registro</button>
        <button routerLink="/sesion">Iniciar sesión</button>

        <button routerLink="/subirObra">Subir obra</button>
        
    </nav>
    <div class="buscador">
        <app-buscador></app-buscador>
    </div>
</header>
