div{
    text-align: center;
}
input{
    margin-top: 0.3em;
    padding: 0.5em;
    margin-bottom: 0.2em;
    width: 15%;
    font-size: 1em;
}

button{
    padding: 0.5em;
    border-radius: 0.3em;
    background-color: black;
    color: #efc75e;
    font-size: 1em;
    margin-left: 0.3em;
}