header{
    display: flex;
    background-color: black;
    padding: 0.5em;
}

nav{
    margin-left: 1em;
    display: flex;
    align-items: center;
}

button{
    margin-right: 0.3em;
    padding: 0.5em;
    font-size: 1.2em;
    border-radius: 0.3em;
    background-color: black;
    border: black 1px;
    color: #efc75e;
}

button:hover{
    background-color: #252525;
    box-shadow: #efc75e 4px 4px 4px;
}