.consultas{
    text-align: center;
    font-size: 1.2em;
}

.consultas input{
    padding: 0.5em;
}

.consultas button{
    padding: 0.5em;
    font-weight: bolder;
    background-color: #0D3F7D;
    color: white;
    border-radius: 0.3em;
    margin-left: 0.3em;
}

.consultas button:hover{
    background-color: #a4fdf7;
    box-shadow: 5px 5px 5px #00214A;
    color: #0D3F7D;
    font-weight: bolder;
}