.listado_Profes{
    text-align: center;
    font-size: 1.2em;
}

.listado{
    display: flex;
}

.alumno, .cursos{
    width: 50%; 
}

.titulo{
    background-color: #00214A;
    padding: 0.5em;
    color: white;
}

.contenidoTabla ul{
    list-style: none;
}
