<!-- Formulario de Registro -->
<div class="registro">
    <h2>Regístrate</h2>
    <form action="">
        <input type="text" name="nombre" id="nombre" placeholder="Nombre"><br>
        <input type="text" name="apellidos" id="apellidos" placeholder="Apellidos"><br>
        <input type="email" name="mail" id="mail" placeholder="E-mail"><br>
        <input type="password" name="password" id="password" placeholder="Contraseña"><br>
        <input type="password" name="password2" id="password2" placeholder="Contraseña"><br>
        <button>Enviar</button>
    </form>
</div>

