.inicio{
    text-align: center;
    /* font-size: 1.2em; */
}

input{
    padding: 0.5em;
    margin-top: 0.2em;
    text-align: center;
    /* font-size: 1em; */
}

button{
    /* width: 26%; */
    padding: 0.5em;
    margin-top: 0.2em;
    font-weight: bolder;
    background-color: #0D3F7D;
    color: white;
    border-radius: 0.3em;
    /* font-size: 1em; */
}

button:hover{
    background-color: #a4fdf7;
    box-shadow: 5px 5px 5px #00214A;
    color: #0D3F7D;
    font-weight: bolder;
}