<div>
    <h1>La joven de la perla</h1>
    <div class="tabla">
        <div class="col1">
            <img src="../../assets/media/perla.jpg" alt="Cuadro La joven de la perla">
        </div>
        <div class="col2">
            <ul>
                <li><b>Nombre artista:</b> Johannes Vermeer</li>
                <li><b>Año creación:</b> 1665</li>
                <li><b>Dimensiones:</b> 80x50cm</li>
                <li><b>Técnica:</b> Óleo sobre lienzo</li>
            </ul>
            <h3>Precio: 150€</h3>
            <button>Comprar</button>
            <button>Reservar</button>
        </div>
    </div>
</div>