<div>
    <h2>Usuarios</h2>
    <form action="">
        <input type="text" id="nombre" placeholder="Nombre" class="input"><br>
        <input type="text" id="apellidos" placeholder="Apellidos" class="input"><br>
        <input type="date" id="fechaNacimiento" placeholder="Fecha Nacimiento" class="input"><br>
        <input type="text" id="email" placeholder="E-mail" class="input"><br>
        <input type="text" id="telefono" placeholder="Teléfono" class="input"><br>
        <input type="text" id="foto" placeholder="Link de imagen de perfil" class="input"><br>
        <input type="password" id="password" placeholder="Contraseña" class="input"><br>
        <p>Selecciona el siguiente check si eres alumno</p>
        <input class="radioBtn" type="radio" name="alumno" id="tipo">
        <label for="alumno">Alumno</label><br>
        <input type="submit" value="Enviar" class="button">
    </form>
</div>