<div>
    <h2>Regístrate</h2>
    <form action="">
        <mat-form-field class="example-full-width">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Introduce tu nombre">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
            <mat-label>Apellidos</mat-label>
            <input matInput placeholder="Introduce tus apellidos">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
            <mat-label>Fecha nacimiento</mat-label>
            <input type="date" matInput placeholder="Introduce tu fecha de nacimiento">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
            <mat-label>E-mail</mat-label>
            <input type="email" matInput placeholder="Introduce tu e-mail">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
            <mat-label>Contraseña</mat-label>
            <input type="password" matInput placeholder="Introduce tu contraseña">
        </mat-form-field>
        <br>
        <button>Enviar</button>
        <button>Borrar</button>
    </form>

    <p>Si ya tiene una cuenta inicia sesión <a routerLink="/iniciar">aquí</a> </p>
</div>
