<div>
    <h2>Regístrate</h2>
    <form action="">
        <mat-form-field class="example-full-width">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Introduce tu nombre">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
            <mat-label>Apellidos</mat-label>
            <input matInput placeholder="Introduce tus apellidos">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
            <mat-label>Fecha nacimiento</mat-label>
            <input type="date" matInput placeholder="Introduce tu fecha de nacimiento">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
            <mat-label>E-mail</mat-label>
            <input type="email" matInput placeholder="Introduce tu e-mail">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
            <mat-label>Contraseña</mat-label>
            <input type="password" matInput placeholder="Introduce tu contraseña">
        </mat-form-field>
        <br>
        <p>Selecciona si eres alumno o profesor</p>
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="btnradio1">Alumno</label>
          
            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio2">Profesor</label>
          </div>
        <button>Enviar</button>
        <button>Borrar</button>
    </form>

    <p>Si ya tiene una cuenta inicia sesión <a routerLink="/iniciar">aquí</a> </p>
</div>
