div{
    text-align: center;
}

.contain{
    background-color: #d2f8fa;
    padding: 0.8em;
    margin-top: 0.8em;

}

p{
    margin-top: 0.8em;
}

.temario{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.asignaturas{
    width: 50%;
    margin: auto;
}